<router-outlet />

<app-header></app-header>

<main>
  <ul id="users">
    <li>
      <app-user [user]="users[0]" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [user]="users[1]" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [user]="users[2]" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [user]="users[3]" (select)="onSelectUser($event)"></app-user>
    </li>
  </ul>
  <app-tasks [name]="user"></app-tasks>
</main>

<!-- 
from here i am prop drilling passing it to the child template to render

[id],[name],... -> all these are meant to sent from here to child component
(select) -> output event, emitted by child
users -> coming from own class component

(select)="onSelectUser($event)" ->  This is event binding. - capture the event emitted by (select) event
The parentheses () indicate that select is an output event that the app-user component can emit.
When the select event is emitted by the app-user component, the onSelectUser() method of the AppComponent is called.
$event is a special Angular keyword that represents the data emitted by the select event. In this case, the app-user component is emitting the id of the selected user, which then gets passed as the id argument to the onSelectUser method in AppComponent.


-->
